<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.depi.checkdoc.checkdoc">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".History"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.depi.checkdoc.checkdoc.MenuActivity" />
        </activity>
        <activity
            android:name=".GraphicsIndicator"
            android:label="@string/title_activity_graphics_indicator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationsEnabling"
            android:label="@string/title_activity_notifications_enabling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Indicators"
            android:label="@string/title_activity_indicators"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".contactDoctor"
            android:label="@string/title_activity_contact_doctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactMant"
            android:label="@string/title_activity_contact_mant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chat"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectOp"
            android:label="@string/title_activity_select_op"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePass"
            android:label="@string/title_activity_change_pass"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>